.button{
    background-color:transparent;
     cursor: pointer;
     color: var(--c-text-color);
     border-radius: 99px;
     display:flex;
     align-items: center;
     transition: var(--fade)
}
.button:focus{
    outline: none;
}
.fullWidth{
    width: 100%;
}
.button:hover {
    background-color: var(--c-theme-20);
    color:var(--c-theme)
  }